<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553029417276-q5l171q1ifvr4pta19n2t7n4prf0479u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553029417276-q5l171q1ifvr4pta19n2t7n4prf0479u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>553029417276-sbtk19jj9885kb62jgpqguptorn9is5f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCT6gYfX4xC2NUjHdzpzXmfRfsp3WWsIU</string>
	<key>GCM_SENDER_ID</key>
	<string>553029417276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.universityReviewer</string>
	<key>PROJECT_ID</key>
	<string>mpd-finals</string>
	<key>STORAGE_BUCKET</key>
	<string>mpd-finals.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553029417276:ios:d96bfe10977470dfd48639</string>
</dict>
</plist>